@import "tailwindcss";
/* @import "tw-animate-css"; */

body {
  background-color: black;
  color: white;
}

:root {
  --animate-scroll: scroll var(--animation-duration, 30s) var(--animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Clase para usar en el componente */
.animate-scroll {
  animation: var(--animate-scroll);
}
